@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid white; */
}

html { 
  background-color: rgb(75 85 99);
} 
body, .main {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1024px;
}